<h1><%= @user.username %>'s Photoroll!</h1>

<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<% if current_user == @user %>
  <h3>Here's my private stuff!</h3>
  <%= form_for :post do |f| %>
    <%= label_tag "Select an image:" %>
    <br>
    <%= f.file_field :image %>
    <br>
    
    <%= f.check_box(:is_private) %>
    <%= label_tag(:is_private, "This post is private!") %>
    <br>
    <%= f.hidden_field(:user_id, :value => @user.id) %>
    <%= f.submit "Upload"%>
  <% end %>

  <% @private_posts.each do |post| %>
    <div>
      <figure>
        <%= image_tag url_for(post.image) %>
        <figcaption>Private</figcaption>
      </figure>
      <%= button_to "delete", :controller => :posts, :action => :destroy, :post_id => post.id.to_i, :method => :delete %>
    </div>
  <% end %>
  <h3>Here's my public stuff!</h3>
  <% @public_posts.each do |post| %>
    <figure>
      <%= image_tag url_for(post.image) %>
      <%= button_to "delete", :controller => :posts, :action => :destroy, :post_id => post.id.to_i, :method => :delete %>
      <figcaption>Public</figcaption>
    </figure>
  <% end %>
<% else %>
  <h3>Here's my public stuff!</h3>
  <% @public_posts.each do |post| %>
    <figure>
      <%= image_tag url_for(post.image) %>
      <figcaption>Public</figcaption>
    </figure>
  <% end %>
<% end %>

